<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expiry Check</title>
    
</head>
<body>
    <h1>Items expiring within a Month</h1>
    {% if expired_items %}
      <ul>
        {% for item in expired_items %}
            <li>
                <strong>{{ item.name }}</strong>: Expired
            </li>
        {% endfor %}
      </ul>
    {% else %}
        <p>No items have Expired</p>
    {% endif %}
    {% if expiring_items %}
        <ul>
            {% for item in expiring_items %}
                <li>
                    <strong>{{ item.name }}</strong>: Expiring on {{ item.expiry }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No items are expiring within the next month.</p>
    {% endif %}
    <a href="/">Back</a>
</body>
</html>