<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <h1>Welcome to StockTracker</h1>
</head>
<body>
    <ul>
      <a href="/warehouses/"> To See list of the warehouses click here</a><br>
      <a href="/warehouses/Item_chart/">Items Chart</a><br>
      <a href="/admin/">Admin</a><br>
      <a href="/warehouses/search/"> Search for an item </a><br>
      <a href="/warehouses/expiry_check">Check the Expiry of items</a><br>
      <a href="/warehouses/bulk_edit_quantities/">Restock</a>
    </ul>
</body>
</html>